// Import your library's styles
@import './variables.scss';
@import '../../lib/styles/lib.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/dist/bootstrap-vue';
@import 'node_modules/highlight.js/styles/base16/bright';

.app__main {
  p a:not(.nav-link):not(.btn),
  article a:not(.nav-link):not(.btn),
  li:not(.ordinal-legend__item) a:not(.nav-link):not(.btn) {
    border-bottom: 1px solid $primary;
  }

  &__view {
    table {
      @extend .table;
    }
  }
}

.card-xs {
  max-width: 330px;
}

@each $breakpoint, $width in $container-max-widths {
  .card-#{$breakpoint} {
    max-width: $width;
  }
}

.header-anchor {
  display: none
}


