// Import your library's styles
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,800|Lato:300,400,400italic,700');

@import './variables.scss';
@import '../../lib/styles/lib.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

.card-xs {
  max-width: 330px;
}

@each $breakpoint, $width in $container-max-widths {
  .card-#{$breakpoint} {
    max-width: $width;
  }
}

.header-anchor {
  display: none
}
