$primary: #c10448;
$secondary: #003552;
$dark: #001226;
$danger: #dc4b55;
$info: #05808c;
$light: #f5f3f3;

$docs-menu-bg: $dark;
$docs-menu-color: #fff;
$docs-menu-muted: mix($docs-menu-bg, $docs-menu-color, 50);

$docs-header-bg: $light;
$docs-header-border-color: darken($docs-header-bg, 10);

$pre-color: $light;
$app-menu-max-width: 300px;
$app-main-max-width: 770px;

@import '@/styles/variables.scss';
