$primary: #c10448;
$secondary: #003552;
$dark: #001226;
$danger: #dc4b55;
$info: #05808c;
$light: #e5e3e3;

@import '../../lib/styles/lib.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

$docs-menu-bg: $dark;
$docs-menu-color: text-contrast(#46424C);
$docs-menu-muted: mix($docs-menu-bg, $docs-menu-color, 50);
